# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
/.idea.CozyBus.iml
# Datasource local storage ignored files
/../../../../../../../:\projects\CozyBus\CozyBus\.idea\.idea.CozyBus\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
